html,body{
    background-image: url(https://images.wallpaperscraft.com/image/scifi_chip_structure_139654_1280x720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
    
.container{
    height: 100%;
    align-content: center;
}
    
.card{
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
    width: 800px;
    background-color: rgba(0,0,0,0.5) !important;
}
    
.card-header h3{
    color: white;
    text-align:  center;
}
    
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
}
        
.signin_btn{
    color: black;
    background-color:indigo;
    width: 100px;
}
    
.signin_btn:hover{
    color: black;
    background-color: white;
}
    
.links{
    color: white;
}
    
.links a{
    margin-left: 5px;
}

.color{
        color: black;
}